.image{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}
ul{
    list-style-type: none;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie{
    display: block;
    align-items: center;
    justify-content: center;    
    border: 1px solid gray;
}